img {
    max-width: 100%;
}
.jamong-content-video-title {
    margin-left: 10px;
    color: #999999;
    font-weight: bold;
}
.jamong-content-video-content {
    color: #999999;
}
.jamong-no-video-upload {
    padding: 15px;
    font-weight: bold;
    color: red;
}
.jamong-video-not-complete {
    font-weight: bold;
    color: red;
    margin-left: 10px;
}