.body-container {
    padding-top: 81px;
}
.sg-item-content {
    margin-top: 7px;
}
.ng-table th.filter .input-filter {
    border-radius: 5px !important;
}
.table-container > div {
    margin-top: 11px;
}
a:hover {
    cursor: pointer;
}
.jamong-pannel:first-child {
    padding-left: 15px;
}
.jamong-pannel {
    padding-left: 0px;
}
.content {
    min-height: 150px !important;
}
textarea {
    min-height: 150px;
}
.jamong-add-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 14px;
    font-weight: bold;
}
img {
    max-width: 100%;
}
label {
    font-size: 11px;
    text-align: left !important;
}
.jamong-password-input {
    width: 50% !important;
    display: inline-block !important;
}
.jamong_profile {
    width: 200px;
}
.jamong-pannel:first-child {
    padding-left: 15px;
}
.jamong-pannel {
    padding-left: 0px;
}

.content
/* mobile */
@media only screen and (max-width: 480px){

}

/* tablet */
@media only screen and (max-width: 768px){

}

/* web */
@media only screen and (min-width: 769px) {
    .gq-navbar-menu > li, .gq-navbar-menu-right > li, .gq-navbar-menu > li > a, .gq-navbar-menu-right > li > a, .navbar-brand {
        height: 80px;
        line-height: 80px;
        vertical-align: middle;
        padding: 0px 5px 0px 5px !important;
        color: rgb(34, 34, 34) !important;
    }
}